    body, .navbar table {
      font-family: inherit;
    }
    .logo {
      border-radius: 50px;
    }
    .navbar {
      height: 100px;
    }
    .navbar li a {
      font-weight: bold;
    }
/*    .navbar ul li:hover {
      background-color: #fff;
      transition: 1s ease-in;
      border-radius: 25px;
      color: #000;
      /*-webkit-transition-timing-function: linear;*/
    /*}*/
/*    .navbar-nav>li>a:hover {
      color: #9d9d9d !important;
    }*/
/*    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      color: #9d9d9d !important;
      background-color: #fff;
      border-radius: 25px;
    }
*/    .dashbopard_panel img {
      /*width: 200px;*/
    }
    .publish_btn {
      color: #4cae4c;
      font-weight: bold;
      border-radius: 25px;
      /*background-color: #5cb85c;*/
      border-color: #4cae4c; 
    }
    .publish_btn:hover {
      background-color: #4cae4c;
      color: #fff;
      transition: 1s;
      transform: scale(1.1);
    }
    .navbar-inverse {
      background-color: #337ab7;
      border-color: #337ab7;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #fff;
    }
    small {
      color: #808080;
    }
  

/*===CSS for Loading icon=====*/

/*
@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 1s infinite linear;
  animation: lds-gear 1s infinite linear;
  position: relative;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 192px;
  background: #f08d43;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 59px !important;
  height: 59px !important;
  -webkit-transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
  transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
}

*/
.article_delete_btn {
  color: #a94442;
  font-weight: bold;
  border-radius: 25px;
  /* background-color: #5cb85c; */
  border-color: #a94442;
}

.article_delete_btn:hover {
  background-color: #a94442;
  color: #fff;
  transition: 1s;
  transform: scale(1.1);
}

